<!DOCTYPE html>
<html>
<head>
<title>AI For Chest X-ray</title>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="header">
        <h1>AI For Chest X-ray</h1>
    </div>
    <div class="main-content">
        <div class="container">
            <label for="xrayImage">Upload Chest X-ray Image:</label>
            <br>
            <form action="/upload" id="uploadForm" method="post" enctype="multipart/form-data">
                <select id="uploadedImages" name="uploadedImages">
                    <option value="">Select Previous Scans</option>
                    {% for scan in scans %}
                        <option value="{{ scan.s_id }}">Scan ID: {{ scan.s_id }}</option>
                    {% endfor %}
                </select>
                <input type="file" id="xrayImage" name="xrayImage">
                <input type="submit" name="modelType" value="Prebuilt">
                <input type="submit" name="modelType" value="Our Model">
            </form>
            <div class="image-placeholder">
                <img id="output" src="" width="500"/>
            </div>
            <br>
            <select id="imageOptions" name="imageOptions">
                <option value="option1">Original</option>
                <option value="option2">Atelectasis - Colour Gradience</option>
                <option value="option3">Cardiomegaly - Colour Gradience</option>
                <option value="option4">Consolidation - Colour Gradience</option>
                <option value="option5">Edema - Colour Gradience</option>
                <option value="option6">No Finding - Colour Gradience</option>
                <option value="option7">Pleural Effusion - Colour Gradience</option>
            </select>
        </div>
        <div class="table-container">
            <label for="xrayImage">Patient Information:</label>
            <table id="patientData">
                <tbody>
                    <tr>
                        <td id="diseases">Patient ID</td>
                        <td id="p_id"></td>
                    </tr>
                    <tr>
                        <td id="diseases">Patient Name</td>
                        <td id="p_name"></td>
                    </tr>
                    <tr>
                        <td id="diseases">Patient Sex</td>
                        <td id="p_sex"></td>
                    </tr>
                    <tr>
                        <td id="diseases">Patient Birth Date</td>
                        <td id="p_bod"></td>
                    </tr>
                    <tr>
                        <td id="diseases">Acquisition Date</td>
                        <td id="p_ad"></td>
                    </tr>
                    <tr>
                        <td id="diseases">View Position</td>
                        <td id="p_pos"></td>
                    </tr>
                    <tr>
                        <td id="diseases" class="hidden">Patient Orientation</td>
                        <td id="p_orient" class="hidden"></td>
                    </tr>
                    <tr>
                        <td id="diseases">Patient Age at Time of Acquisition</td>
                        <td id="p_age"></td>
                    </tr>
                </tbody>
            </table>
            <label for="xrayImage">Model Output:</label>
            <table id="diseaseLikelihood">
                <thead>
                    <tr>
                        <th id="diseases">Diseases</th>
                        <th>Prediction</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="diseases">Atelectasis</td>
                        <td id="ate_actual"></td>
                    </tr>
                    <tr>
                        <td id="diseases">Cardiomegaly</td>
                        <td id="car_actual"></td>
                    </tr>
                    <tr>
                        <td id="diseases">Consolidation</td>
                        <td id="con_actual"></td>
                    </tr>
                    <tr>
                        <td id="diseases">Edema</td>
                        <td id="ede_actual"></td>
                    </tr>
                    <tr>
                        <td id="diseases">No Findings</td>
                        <td id="nof_actual"></td>
                    </tr>
                    <tr>
                        <td id="diseases">Pleural Effusion</td>
                        <td id="eff_actual"></td>
                    </tr>
                </tbody>
            </table>
            <label for="commentBox">Comments:</label>
            <form id="commentsForm">
                <textarea id="output2" name="textarea_content"></textarea>
                <input type="hidden" id="scanId" name="scan_id" value="{{ scans.s_id }}">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>